@charset "UTF-8";

/* Todas as demais mídias */

/* typical device breakpoints
---------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print { /* Impressão*/
    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário pois na impressora não aparece background image*/
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site https://kevinafonso.github.io/html-css/exercicios/ex026/mq004/';
        text-decoration: overline;
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width:768px) and (max-width: 992px){/*Tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    main{
        width: 550px;
        height: 300px;
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 993px) and (max-width:1200px){ /*Desktop */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    main{
        width: 680px;
        height: 300px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width:1201px) { /*Grandes telas */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 800px;
        height: 300px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}
